body {
    margin: 0;
    padding: 0;
    background: #eee;
    font-family: "Verdana", "Helvetica", "Arial", sans-serif;
    line-height: 1.25;
    font-size: 10pt;
    border: 1px solid #c9d7f1;
    background: white;
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-areas: "header header" "nav article" "footer footer";
    grid-template-columns: 250px auto;
}
header {
    grid-area: header;
    border-bottom: 1px solid #c9d7f1;
    text-align: center;
}

header h1 {
    margin-left: 20px;
}



article {
    grid-area: article;
    margin-left: 30px;
    margin-bottom: 10px;
}

nav {
    grid-area: nav;
    border-right: 1px solid #c9d7f1;
}

footer {
    text-align: center;
    border-top: 1px solid #c9d7f1;
    grid-area: footer;
    font-size: 8pt;
}
form {
      display: grid;
      grid-template-columns: 480px 480px;
      max-width: 1200px;
      padding: 1em;
      grid-gap: 8px;
      background: #f9f9f9;
      border: 1px solid black;
      font-family:  Arial;
      /*text-align: left;*/
    }

    form label {
      /*padding: 0.5em;
      text-align: right;*/
      grid-column: 1 / 2;
      text-align: left;
    }
   
    form input {
      background: #fff;
      border: 1px solid black;
      padding: 0.5em;
      margin-bottom: 0.25rem;
      /*era só alterar o width a largura dos campos  */
      width: 180px;
    }

    #btnEnviar {
      background: #d8d8d8;
      padding: 0.4em;
      width: 100%;
      grid-column:1;
      font-size: 13px;
      font-style: 
    }
    #btnReset {
      background: #d8d8d8;
      padding: 0.4em;
      width: 100%;
      grid-column:2;
      font-size: 13px;

    }

    @media (max-width: 700px) {
    #container {
        grid-template-areas: "header" "article" "nav" "footer";
        grid-template-columns: auto;
    }

    nav {
        border-top: 1px solid #c9d7f1;
    }
}