<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Agentes de saúde sesai</title>
	<link rel="stylesheet" href="index.css">
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/vuefire@1.3.0/dist/vuefire.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-firestore.js"></script>
</head>
<body>
	<header>
		<h1><b>SAÚDE INDÍGENA</b></h1>
		<h2>MINISTERIO DA SAÚDE</h2>
		<h2>SECRETARIA ESPECIAL INDÍGENA</h2>
		<h3>DISTRITO SANITÁRIO ESPECIAL DE INDÍGENA MATO GROSSO DO SUL</h3>
		<h4>POSTO DE SAÚDE INDÍGENA</h4>
	</header>
	<nav></nav>
	<article>
	<div id="app">
		<form id="form" v-on:submit.prevent="addUser">
		  <div> <label for="nome">Nome</label>

		    <input id="nameId" type="text" v-model="newUser.nameId" required></div>

		   <div><label for="nascimento">Nascimento</label>
		    <input id="nascimento" type="date"></div>

            <div><label for="sobrenome">Sobrenome</label>
		    <input id="lastnameId" type="text" v-model="newUser.lastnameId" required></div>

		    <div><label for="house">Casa</label>
		    <input id="casa" type="text" required></div>

		    <div><label for="etnos">Etnia</label>
		    <input id="etnia" type="text" required></div>

		    <div><label for="sex">Sexo</label>
		    <input id="genero" ></div>
		    <div><label for="residencia">Aldeia de Residência</label>
		    <input id="residence" ></div>

		    <div><label for="altura">N° da casa</label><br/>
		    <input id="altura" type="number" value="0"></div>

		    <div><label for="city">Município</label>
		    <input id="cidade" ></div>

		    <div><label for="polo">Polo Base</label>
		    <input id="polo" type="text" required></div>

		    <div> <label for="mae">Nome da mãe</label>
		    <input id="mother" type="text" required></div>
		    <div> <label for="pai">Nome do Pai</label>
		    <input id="father" type="text" required></div>

		    <div><label for="sus">N° do Cartão SUS</label><br/>
		    <input id="saudesus" type="number" value="0"></div>
		    <div><label for="cpf">CPF</label><br/>
		    <input id="id-cpf" type="number" value="0"></div>

		    <!--<input type="submit" id="btnEnviar" claas="btnEnviar">
		    <input type="reset" id="btnReset" claas="btnReset">-->

		    <button type="reset" id="loadButton">Carregar</button>
		    <button type="submit"  value="Add User" >Enviar</button>
</form>
<li v-for="user in users" class="user" :key="user['.key']">
	<span>{{user.name}} - {{user.lastname}}</span>
	<button v-on:click="removeUser(user)"><b>REMOVE</b></button>
</li>
	</div>
</article>
<footer>
	<h1 id="NameOutput">nomes</h1>
</footer>

<script src="index-vue.js"></script>
</body>
</html>
